:host {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 1em;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.overlay-content {
  padding: 1em;
}

.spinner-wrapper {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}
